fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
aiofiles
langchain
PyMuPDF
motor
pydantic-mongo
openai
cohere
qdrant-client
SQLAlchemy
asyncpg
alembic
psycopg2
pgvector
nltk
